@font-face {
    font-family: Lucida Sans Italic;
    src: url('./assets/fonts/LucidaSansItalic.ttf');
}

@font-face {
    font-family: Open Sans Regular;
    src: url('./assets/fonts/OpenSansRegular.ttf');
}

@font-face {
    font-family: Segoe WP;
    src: url('./assets/fonts/Segoe_WP.ttf');
}

@font-face {
    font-family: Segoe WP Lite;
    src: url('./assets/fonts/Segoe_WP_Light.ttf');
}

@font-face {
    font-family: Segoe UI Bold;
    src: url('./assets/fonts/segoeUiBold.ttf');
}
@font-face {
    font-family: Asap;
    src: url('./assets/fonts/asap_regular.ttf');
}

@font-face {
    font-family: Segoe UI Regular;
    src: url('./assets/fonts/segoeUiRegular.ttf');
}

@font-face{
    font-family: PT Sans;
    src: url('./assets/fonts/PTSans_regular.ttf')
}

@font-face{
    font-family: PT Sans Narrow Bold;
    src: url('./assets/fonts/PTSans_NarrowBold.ttf')
}

@font-face{
    font-family: Arial MT;
    src: url('./assets/fonts/Arial.ttf')
}

*{
    padding: 0;
    margin: 0;
}
html,
body{
    height: 100vh;
    width: 100%;
    font-size: 16px;
    display:block;
    overflow-x: hidden;
}

.scroll_slider_block_twitter_comments_mobile{
    display:none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    height: 100vh;
    margin: 0 auto;
}

.wrapper_header_block {
    width: 100%;
    background-image: url(./assets/img/header/header_background.png);
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main ,.area {
    margin: 0 auto;
    width: 78.5%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
}

.logo_name {
    font-size: 41px;
    color: #fff;
    text-transform: uppercase;
    font-family: Lucida Sans Italic;
    letter-spacing: 0.41px;
    padding: 11px 0 0 4px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
}

.header_navbar {
    display: flex;
    align-items: flex-end;
}

.header_navbar_point {
    list-style: none;
    height: 2.5em;
    width: 7.9em;
    background-color: #f5c506;
    box-shadow: -0.25em -0.3em 0 rgba(245, 197, 6, .3), -0.5em -0.5em 0 rgba(245, 197, 6, .3);
}

.header_navbar_point:last-child{
    border-left: 1px solid #dcb105;
    width: 9.70em;
}

.header_navbar_point:first-child {
    border-right: 1px solid #dcb105;
    width: 9.65em;
}

.header_navbar_point_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.06em;
    font-family: Segoe WP;
    color: #b99403;
    background-color: #f5c506;
    padding-top: .55em;
}

.header_navbar_point_link:hover{
    color:#fff;
}

.header_navbar_point_icon:hover{
    fill: #ffffff;
}

.header_navbar_point_name {
    margin-left: .56em;
}

.slider_block{
    position: relative;
}

.slider_block_arrow {
    position: absolute;
    width: 2.000em;
    height: 3.563em;
}

.slider_block_arrow.left, .slider_block_arrow.right  {
    top: 11.70em;
}

.slider_block_arrow.right {
    right: 0;
}

.slider_block_arrow_link {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #c9a40b;
}

.slider_block_arrow_left_link_img {
    padding-right: 0.188em;
}

.slider_block_layer_video_mobile{
    display:none
}

.slider_block_arrow_link .right {
    background-color: #f5c503;
}

.slider_block_arrow_right_link_img{
    padding-left: 0.188em;
}

.slider_block_layer_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78.5%;
    margin: 0 auto;
    padding-top: 59px;
    padding-bottom: 66px;
}

.slider_block_layer_video {
    padding-left: 0.625em;
    position: relative;
}

.slider_block_heading {
    text-align: center;
    text-transform: uppercase;
    padding-right: 27px;
    padding-bottom: 9px;
    display: flex;
    flex-direction: column;
}

.slider_block_text, .heading_the_minimal_text {
    font-size: 3.94em;
    font-family: Asap;
    color: #f5c506;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 0.63px;
}

.heading_the_minimal_text {
    color: #fff;
    left: 8px;
    position: relative;
    bottom: 23px;
}

.icon_block{
    background-image: url(./assets/img/icon-block/background_icon.png)
}

.icon {
    display:flex;
    justify-content: space-between;
}

.icon_area.cloud, .icon_area.plane {
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}

.icon_area {
    list-style: none;
    font-family: Segoe UI Regular;
    text-transform: uppercase;
    font-size: 1.69em;
    line-height: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_area_cloud_img {
    padding-top: 60px;
    padding-right: 7px;
}

.icon_area_cloud_name {
    color: #000000;
    font-weight: 300;
    font-size: 27px;
    padding-top: 14px;
    padding-left: 17px;
    padding-bottom: 35px;
    letter-spacing: 0.27px;
}

.icon_area_leaf_img {
    padding-top: 36px;
    padding-left: 24px;
}

.icon_area_leaf_name {
    padding-top: 18px;
    padding-left: 19px;
    padding-bottom: 20px;
}

.icon_area_plane_img {
    padding-top: 53px;
    padding-right: 21px;
}

.icon_area_plane_name {
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 20px;
    letter-spacing: 0.27px;
}

.scroll_slider{
    background: url(./assets/img/scroll-slider-block/scroll_background.png);
}

.scroll_slider_block{
    display: flex;
    flex-direction:column;
}

.scroll_slider_block_name{
    font-weight: 400;
    font-size: 2.313em;
    text-transform: uppercase;
    font-family: PT Sans;
    color: #ffffff;
    padding-top: 33px;
    letter-spacing: 0.37px;
}

.scroll_slider_block_main_content{
    display: flex;
    padding-top: 31px;
}

.scroll_slider_block_main_content_left {
    width: 100%;
    align-items: center;
    background-color: #ec9e03;
    position: relative;
}
.scroll_slider_block_main_content_left_text{
    font-family: Segoe WP lite;
    font-size: 29px;
    padding: 17px 0 0 29px;
    letter-spacing: 0.29px;
    color: #ffffff;
    line-height: 38px;
    }

.scroll_slider_block_main_content_left_data{
    height: 86px;
    width: 112px;
    background-color: #ddb101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 0;
    position: absolute;
    transform: translate(0, 100%);
}

.scroll_slider_block_main_content_right_plus_link, .scroll_slider_block_main_content_left_plus_link:hover{
    border: 1px solid #29B0D9;
}

.data_time_number{
    padding-top: 15px;
    font-weight: 700;
    color: #ffffff;
    font-family: Segoe UI Bold;
    font-size: 3.188em;
    line-height: 38px;
    letter-spacing: 0.51px;
}

.data_time_month{
    color: #b26529;
    text-transform: uppercase;
    font-family: Segoe UI Regular;
    font-size: 1.313em;
    line-height: 38px;
    letter-spacing: 0.21px;
}

.scroll_slider_block_main_content_left_plus {
    position: absolute;
    left: 92.7%;
}

.scroll_slider_block_main_content_left_plus_link{
    display: block;
}

.scroll_slider_block_main_content_center{
    width: 100%;
}

.scroll_slider_block_main_content_right{
    height: 233px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
}
.scroll_slider_block_main_content_right_wrapper{
    width: 329px;
    background-color: #ec9e03;
    display: flex;
    justify-content: center;
    position: relative;
}

.scroll-slider_block_main_content_right_wrapper_twitter{
    padding-top: 20px;
}

.scroll-slider_block_main_content_right_wrapper_twitter_number{
    display: block;
    position: absolute;
    top: 7%;
    right: 5%;
}

.scroll-slider_block_main_content_right_wrapper_twitter_number_text{
    font-family: Segoe WP;
    font-size: 1.55em;
    color: #ffffff;
    display: block;
    line-height: 1;
}

.scroll_slider_block_main_content_right_comments_mobile{
    display:none;
}

.scroll_slider_block_main_content_right_plus{
    position: absolute;
    top: 88.5%;
    left: 94.4%;
}

.scroll_slider_block_main_range{
    margin: 0 auto;
    padding: 125px 0 0 25px;
    padding-bottom: 16px;
    width: 87.8%;
}

.scroll_slider_block_main_range_input{
    width: 100%;
    height: 15px;
    border-radius: 15px;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
}

.scroll_slider_block_main_range_input:hover{
    opacity: 0.48;
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 22%;
    border-radius: 7px;
    background-color: #ec9e03;
    cursor: pointer;
    -webkit-appearance: none;
}

.media_block{
    background-image: url(./assets/img/media-screens-block/background_screen.png);
}

.media{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom:98px;
}

.media_block_head_h3{
    color: #f5c506;
    font-family: PT Sans;
    font-size: 2.688em;
    text-transform: uppercase;
    letter-spacing: 0.43px;
}

.media_block_head{
    padding-top: 39px;
    padding-left: 6px;
}

.media_block_screens{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.media_block_screens_img{
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-top: 9px;
    padding-left: 43px;
}

.media_block_screens_img_monitor_img{
    display: block;
    position: relative;
    top: 36px;
    right: 24px;
}


.media_block_screens_img_monitor_ellipse {
    display: flex;
    background-color: #f5c506;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    left: -2px;
}

.media_block_screens_img_monitor_ellipse_text{
    color: #ffffff;
    font-family: PT Sans Narrow Bold;
    font-size: 1.188em;
    text-transform: uppercase;
    letter-spacing: 0.51px;
}

.media_block_screens_img_mobile{
    margin-left: 24px;
}

.media_block_screens_list {
    padding-top: 63px;
    padding-left: 69px;
}

.media_block_screens_list_ul{
    list-style-type: none;
}

.media_block_screens_list_ul_li{
    list-style-image: url(./assets/img/media-screens-block/marker.png);
    font-family: Open Sans Regular;
    font-size: 1.375em;
    color: #a9a9a7;
    letter-spacing: 0.22px;
    margin-top: 25px;
    line-height: 1.2;
    padding-left: 17px;
}

.media_block_screens_list_ul_li:nth-child(3){
    margin-top: 13px;
}

.footer{
    background-color:#4c4c4c;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.75);
}

.footer_block_logo{
    display:flex;
    align-items: center;
    padding: 6px 0 4px 0;
}

.footer_block_logo_text{
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    color: #ffffff;
    font-family: Lucida Sans Italic;
    font-size: 1.813em;
    text-transform: uppercase;
    letter-spacing: 0.29px;
    padding-left:7px;
}
/* 
media */

@media(max-width: 640px){

    .wrapper{
    width: 640px;
    display: block;
    height: 100vh;
    margin: 0 auto;
}

.header{
    background: rgb(92,92,92);
    background: linear-gradient(135deg, rgba(92,92,92,1) 0%, rgba(68,68,68,1) 100%);
}

.main, .area{
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 12px;
    padding-bottom: 2px;
}

.logo_image {
    width: 38px;
    height: 38px;
}

.logo_name{
    font-family: Lucida Sans Italic;
    font-size: 1.2em;
    padding: 0;
    padding-top: 7px;
    padding-left: 6px;
    letter-spacing: 0.026em;
    display: block;
    color: #ffffff;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.42);
}

.wrapper_header_block {
    background-image: none;
}

.header_navbar_point:first-child{
    width: 10.65em;
}

.header_navbar_point:last-child{
    width: 9.35em;
}

.header_navbar_point:nth-child(2){
    width: 8.313em;
}

.header_navbar_point_icon{
    width: 24px;
    height: 22px;
}

.services{
    margin-left: 5px;
}

.icon_contact{
    width: 28px;
    height: 21px
}

.icon_services{
    width: 22px;
    height: 22px;
}

.header_navbar_point{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.88em;
    box-shadow: none;
    box-shadow: none;
    background-color: #f5c506;
}

.header_navbar_point_link{
    padding-top:0;
    color: #9b7d08;
    font-size: 1.188em;
    text-transform: uppercase;
    letter-spacing: 0.19px;
}

.slider_block_arrow.left, .slider_block_arrow.right, .slider_block_heading{
    display:none;
}

.slider_block_layer_video{
    display:none;
}

.slider_block_layer_video_mobile{
    display: block;
}

.slider_block_layer_center{
    padding: 0;
    flex-direction: column;
}

.icon_block {
    background-image: url(./assets/img/mobile/background_icon.png);
}

.icon_area.cloud, .icon_area.plane{
    border:none;
}

.icon_area>p{
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0.23px;
}

.icon_area_cloud_img{
    width: 89px;
    height: 61px;
}

.icon_area_leaf_img{
    width: 67px;
    height: 69px;
}

.icon_area_plane_img{
    width: 68px;
    height: 69px;
}

.icon_area_cloud_img{
    padding-top: 29px;
    padding-right: 33px;
}

.icon_area_leaf_img {
    padding-top: 24px;
    padding-left: 15px;
}

.icon_area_plane_img {
    padding-top: 26px;
    padding-right: 5px;
}

.icon_area_cloud_name{
    padding-top: 21px;
    margin-right: 33px;
}

.icon_area_plane_name {
    padding-left: 4px;
    padding-top: 16px;
    padding-right:0;
}

.scroll_slider{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.scroll_slider_block_name{
    display:none;
}

.scroll_slider_block{
    background-color: #ffffff;
}

.scroll_slider_block_main_content{
    display: flex;
    padding-top: 9px;
    justify-content: center;
    flex-wrap: wrap;
}

.scroll_slider_block_main_content_left{
    margin-right: 9px;
    width: 300px;
    height: 230px;
}

.scroll_slider_block_main_content_left_text{
    padding:14px 21px 0 28px;
    line-height: 33.31px;
    letter-spacing: 0.33px;
    display: inline-block;
    font-family: Segoe WP Lite;
    font-size: 1.8em;
    color: #ffffff;
    word-break: break-all;
    hyphens: manual;
}

.scroll_slider_block_main_content_left_data{
    display:none;
}

.scroll_slider_block_main_content_left_plus{
    position: absolute;
    top: 86%;
    left: 92.8%;
}

.scroll_slider_block_main_content_left_plus_link{
    display:block;
}

.scroll_slider_block_main_content_center{
    width: 315px;
}

.scroll_slider_block_main_content_right{
    margin-top: 5px;
    background-color: #f5c507;
    height: 233px;
    width: 100%;
    display: flex;
    padding: 0;
}

.scroll_slider_block_main_content_right_wrapper{
    background-color: #f5c507;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll-slider_block_main_content_right_wrapper_twitter{
    padding-top: 21px;
    padding-left: 82px;
}

.scroll-slider_block_main_content_right_wrapper_twitter_number, .scroll_slider_block_main_content_right_plus{
    display: none;
}

.scroll_slider_block_twitter_comments_mobile{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 12px;
}

.twitter_message, .twitter_author{
    color: #8f8e8e;
    font-family: Arial MT;
    font-size: 0.813em;
    letter-spacing: 0.13px;
}

.twitter_mobile_message{
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 9px 40px 5px 20px;
    margin-right:32px;
    margin-bottom: 14px;
}

.twitter_mobile_message:before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 12px 13px 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
    left: -8px;
    top: 11px;
}

.twitter_mobile_message:nth-child(2){
    background-color: #fceeb5;
}

.twitter_mobile_message:nth-child(2)::before{
    border-color: transparent #fceeb5;
}

.twitter_mobile_message:nth-child(3){
    background-color: #fbe89c;
}

.twitter_mobile_message:nth-child(3)::before{
    border-color: transparent #fbe89c;
}
.twitter_input_block{
    display:flex;
    margin-left: 5px;
}

.twitter_input_text{
    height: 29px;
    width: 200px;
    border-radius: 10px 0 0 10px;
    outline: none;
    display: block;
    border: 1px solid #d0a806;
    padding-left: 10px;
}

.twitter_submit{
    height: 31px;
    width: 69px;
    border-radius: 0 10px 10px 0;
    border: none;
    outline: none;
    display: block;
    background-color: #d3910f;
    color: #fff;
    font-size: .94em;
    font-family: Arial MT;
    cursor: pointer;
}

.scroll_slider_block_main_range, .media_block_screens_list{
    display:none;
}

.media{
    padding-bottom: 91px;
}
.media_block_head_h3{
    font-size: 2.438em;
    letter-spacing: 2.35px;
}

.media_block_head{
    padding-top: 33px;
    font-family: Open Sans Regular;
}
.media_block_screens_img{
    padding-top: 39px;
    padding-left: 80px;
}

.media_block_screens_img_monitor_ellipse{
    top: 34px;
    left: 27px;
}

.footer_block{
    margin-left: 65px;
}

.footer_block_logo_text{
    font-size: 1.063em;
}

.footer_block_logo>img{
    width: 31px;
    height: 31px;
}













}
